version: "3.8"
services:
  image-api:
    build:
      context: ./image-api
    ports:
      - 3000:3000
    env_file: ./image-api/.env
    volumes:
      - ./image-api:/app
      - /app/node_modules
    command: yarn start:dev
  web:
    build:
      context: ./frontend
      target: development
    ports:
      - 4000:4000
      # Razzle serves assets on :PORT+1, so you need to expose that port as well
      - 4001:4001 
    environment:
      - PORT=4000
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/build
    command: yarn start:dev
