name: Frontend Checks
on:
  push:
    paths:
      - frontend
jobs:
  test-frontend:
    name: Frontend Unit Tests
    defaults:
      run:
        working-directory: frontend

    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.16.0
        uses: actions/setup-node@v2
        with:
          node-version: 14.16.0

      - run: yarn install --frozen-lockfile

      - run: yarn test
  
  lint-frontend:
    name: Frontend Linting
    defaults:
      run:
        working-directory: frontend

    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.16.0
        uses: actions/setup-node@v2
        with:
          node-version: 14.16.0

      - run: yarn install --frozen-lockfile

      - run: yarn lint
  
  build-frontend:
    name: Frontend build
    defaults:
      run:
        working-directory: frontend
    
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.16.0
        uses: actions/setup-node@v2
        with:
          node-version: 14.16.0

      - run: yarn install --frozen-lockfile

      - run: yarn build

      - uses: actions/upload-artifact@v2
        with:
          name: Bundle Size Reports
          path: |
            /frontend/build/metadata
